<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="/css/style.css" rel="stylesheet"/>
    <title>OAuth | Credentials</title>
</head>
<body>
<%- include('partials/client_header') -%>
<div class="container">
    <div class="column">
        <div class="card mw-40">
            <h2>Obtain Credentials</h2>
            <form>
                <div class="form-group">
                    <label for="client_id">Client Id</label>
                    <input type="text" name="client_id" id="client_id" disabled>
                </div>
                <div class="form-group">
                    <label for="client_secret">Client Secret Key</label>
                    <input type="text" name="client_secret" id="client_secret" placeholder="******" disabled>
                </div>
                <p style="color: #7C91AA">On requesting new credentials, the old ones will immediately stop working.</p>
                <button type="button" class="mt-20" onclick="renew()">Get New Credentials</button>
            </form>
        </div>
    </div>
</div>
<%- include('partials/footer') -%>
<script src="/js/main.js"></script>
<script type="text/javascript">
    const message = "<%= message %>"
    if (message)
        showSnackbar(message);
    const data = JSON.parse('<%- data %>');
    if (data) {
        document.getElementById("client_id").value = data.client_id;
        document.getElementById("client_secret").value = data.client_secret;
    }
    const renew = async () => {
        if (confirm("Are you sure you want to renew your credentials?")) {
            showSnackbar("Requesting new credentials...");
            const {body} = await request("/api/v1/client/credentials/new");
            if (body) {
                document.getElementById("client_id").value = body.client_id;
                document.getElementById("client_secret").value = body.client_secret;
                showSnackbar("New credentials generated successfully!");
            }
        }
    }
</script>
</body>
</html>