<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>OAuth | Documentation</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class="container">
    <h1>OAuth</h1>
    <p>OAuth is a protocol that allows a user to grant a third-party application access to the user's data without
        having to give the third-party application the user's password.</p>
    <p>OAuth is an open standard for access delegation, commonly used as a way for Internet users to grant websites or
        applications access to their information on other websites but without giving them the passwords. This mechanism
        is used by companies such as Google, Facebook, Microsoft and Twitter to permit the users to share information
        about their accounts with third party applications or websites.</p>
    <code>hello</code>
</div>
</body>
</html>