<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>OAuth | History</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<%- include('partials/user_header'); -%>
<div class="container">
    <div class="card w-100">
        <h2>Login History</h2>
        <table cellspacing="0">
            <thead>
            <th style="width: 25%;">Time</th>
            <th style="width: 25%;">Website</th>
            <th style="width: 25%;">Status</th>
            </thead>
            <tbody id="data">
            </tbody>
        </table>
    </div>
</div>
<%- include('partials/footer') -%>
<script src="/js/main.js"></script>
<script type="text/javascript">
    const message = "<%= message %>"
    if (message)
        showSnackbar(message);

    const response = JSON.parse('<%- data %>')
    console.log(response)
    response.forEach(token => {
        document.getElementById("data").innerHTML +=
            `
                <td style="width: 20%;">${new Date(token.last_used).toLocaleString()}</td>
                <td style="width: 40%;">${token.client}</td>
                <td style="width: 20%;">OK</td>
            `

    })
</script>
</body>
</html>